.about-page {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 5;
    grid-row-end: 5;

    // .top-content, .bottom-content {
    // 	padding: 0 15%;
    // }

    .top-content {
		grid-column-start: 1;
	    grid-column-end: 3;
	    grid-row-start: 1;
	    grid-row-end: 3;
	    z-index: 1;
	    padding-top: 3rem;

	    h2  {
	    	font-size: 8vw;
	    }
    }

    .bottom-content {
	    max-width: 40rem;
	    max-height: calc(100% - 2rem);
	    grid-column-start: 3;
	    grid-column-end: 5;
	    grid-row-start: 3;
	    grid-row-end: 5;
	    //padding-top: 4rem;
	    overflow-y: scroll;
	    padding-left: 2rem;
	    z-index: 1;

	    p {
	    	font-size: 1.5rem;
	    	background-color: $tertiary-color;
	    }
    }

    .image-wrapper {
		grid-column-start: 2;
	    grid-row-start: 1;
	    grid-column-end: 4;
	    grid-row-end: 5;
	    -webkit-filter: grayscale(1);
	    filter: grayscale(1);
	    padding: 0 10%;
    }
}