.home-page {
  grid-column-start: 1;

  .content-contatiner { 
    grid-row-start: 2;
    grid-column-end: 3;
    margin-top: 7.5rem;
  }

  h2  {
    font-size: 3.965vw;
    margin-bottom: 3rem;
  }

  p {
    font-family: $futura-stack;
    font-size: 2vw;
    font-weight: 100;
    background-color: rgba(173, 255, 47, .3);
    max-width: 94%;

    &:nth-child(3){
      max-width: 81%;
    }

  }

  .header--main {
    h1 {
      @extend .side-text;
    }
  }

  .cta-link {
    font-size: 2rem;
    text-decoration: underline;
    margin-right: 1.5rem;
    font-style: italic;
    margin-top: 1.5rem;
    display: inline-block;
  }

  .image-wrapper {
    //position: absolute;
    //top: 50%;
    //width: 76%;
    //z-index: -1;
    //right: 0;
    filter: grayscale;
    background-color: darkgray;
    background-blend-mode: multiply;
    //background-image: url(http://mysite.du.edu/~ttyler/ploughboy/boats%20attacking.jpg);
    //height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;

    background-image: url(https://img.rezdy.com/PRODUCT_IMAGE/22810/IMG_0296-X3_lg.jpg);
    filter: grayscale(1);
    transform: scaleX(-1);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    margin-right: 0%;
    height: calc(100% - 4.5rem);

    &:before, &:after {
      background-image: radial-gradient(rgba(0, 0, 0, 0.7) 50%, transparent 50%);
      background-position: 0 0, 1px 0, 1px -1px, 0px 1px;
      background-size: 5px 5px;
      padding-top: 37.5%;
      display: block;
      content: '';
      border-radius: 50%;
    }

    &:before {
      width: 60%;
      border-radius: 50%;
      margin-left: -10%;
      margin-top: -6%;
    }

    &:after {
      //position: absolute;
      //top: 40%;
      //left: 70%;
      //width: 50%;
    }
  }
}

