.nav--main {
  ul  {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-right: 10%;

    li {
      flex: 1;
      text-align: center;
      font-size: .8rem;
      text-transform: lowercase;
    }
  }
}