.port-item {
  h2 {
    grid-area: 1 / 1 / 1 / 4;
    margin-top: 1.5rem;
  }

  .port-content {
    grid-area: 2 / 1 / 4 / 4;
    z-index: 2;
    margin-right: 20%;
    overflow-y: scroll;
    height: 90%;
  }

  .article-figure {
    grid-area: 3 / 3 / 6 / 5;
    margin-left: -20%;
    margin-right: 3%;
    position: relative;

    figcaption {
      position: absolute;
      font-family: "futura";
      width: 10rem;
      height: 7rem;
      top: -17%;
      right: 10%;
      display: flex;
      padding: 1rem;
      justify-content: center;
      align-items: center;
      background-color: #FFFFFF;
      border: 1px solid;
      text-align: center;
      line-height: 1.5rem;
    }

    .image-wrapper {
      overflow: hidden;
      height: 77%;

      img  {
         filter: grayscale(1);
       }
    }
  }
}