html {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

h1, h2 {
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: .6rem;
}


h2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: .6rem;
}

p {
  font-size: 2rem;
  margin-bottom: .6rem;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: greenyellow;
    text-decoration: underline;
  }
}

.side-text {
  @extend h2;
  writing-mode: vertical-rl;
  transform: rotate(183deg);
  -webkit-text-stroke: 5px greenyellow;
  text-stroke: 5px greenyellow;
  font-size: 19vh;
  color: rgba(0, 0, 0, 0);
  font-style: italic;
  text-transform: uppercase;
  z-index: 3;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
  margin-left: 20%;
  max-height: 100vh;
  transition: transform .5s ease-in, font-size .5s ease-in;

  span {
    display: block;
  }
}

div[class^="work-"], .work, .about, .contact, .inner-page {
  .side-text {
    font-size: 1rem;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    transform: rotate(270deg);
    text-align: right;
    -webkit-text-stroke: 0px;
    text-stroke: 0px;
    color: greenyellow;
    margin-top: 0;
    margin-left: 11rem;
    height: 11rem;

    span {
      display: inline;
    }
  }
}